global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms


# Frontend for traefik-public (port 443)
frontend https_public_front
    bind *:10443
    mode tcp
    option tcplog
    default_backend traefik_public_back_https

# Backend for traefik-public
backend traefik_public_back_https
    mode tcp
    option tcp-check
    server traefik-public 127.0.0.1:8443 send-proxy-v2 check

# Frontend for traefik-public (port 80)
frontend http_public_front
    bind *:10080
    mode tcp
    option tcplog
    default_backend traefik_public_back_http

# Backend for traefik-public
backend traefik_public_back_http
    mode tcp
    option tcp-check
    server traefik-public 127.0.0.1:8000 send-proxy-v2 check
