# /etc/traefik/traefik.yaml

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
        # domains:
        #   main: "olsonsky.com"
        #   sans:
        #     - "minecraft.olsonsky.com"

# accessLog:
#   format: "json"
#   # filePath: "/path/to/access.log"
#   addInternals: true

log:
  level: "INFO"

api:
  insecure: true
      
providers:
  docker:
    exposedByDefault: false
    useBindPortIP: false
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      # entryPoint: https
      email: thenomemac@gmail.com
      storage: "/etc/traefik/acme/acme.json"
      httpChallenge:
        # used during the challenge
        entryPoint: web
      # dnsChallenge:
      #   provider: digitalocean
      #   delayBeforeCheck: 0

      